<!-- Add new Brands Start -->
<div class="container">
    <ul class="nav nav-tabs">
        <li><a routerLink="../addProduct">Products</a></li>
        <li><a routerLink="../addCategory">Categories</a></li>
        <li class="active"><a routerLink="../addBrands">Brands</a></li>
        <li><a routerLink="../uploadImages">Images</a></li>
      </ul>
      <br/><br/>
      <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
            <form [formGroup]="form" (ngSubmit)="addBrands(form)">
                <div class="form-group">
                    <input type="text" formControlName="brandName" name="brandName" placeholder="Brand Name" class="form-control"/>
                    <div class="text-danger" style="margin-bottom: 10px;" 
                        *ngIf="form.controls['brandName'].invalid && (form.controls['brandName'].touched || form.controls['brandName'].dirty)">
                        <div *ngIf="form.controls['brandName'].errors?.required">Brands Name is required field</div>
                    </div>
                </div>
                
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Brands</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="brands.length === 0">
                        <td><div class="alert alert-danger">No Data Found</div></td>
                    </tr>
                    <tr *ngFor="let brand of brands; index as i">
                        <td>{{ brand.brandName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!-- Add new Brands End -->
</div><br><br><br>